*, *::before, *::after { box-sizing: border-box; margin: 0; }
html    { font-size: 18px; overflow-x: hidden; scroll-behavior: smooth; }
img     { max-width: 100%; object-fit: cover; }
h1      { font-size: 40px; text-align: center; padding-top: 200px; }
h3      { text-align: left; }
h5      { font-size: 50px; display: flex; justify-content: center; margin-top: 30px; }
input   { padding: 10px; border: none; outline: none; }


/* ---- CONTAINER ---- */
.container-title {
    background: url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    height: 100vh;
}
.container {
    background: url('images/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 60px;
    text-align: center;
    position: relative;
}
.container-about {
    display: flex;
    padding: 40px 60px;
    overflow-x: hidden;
}
.container-games {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 30px;
    margin-top: 60px;
}
.container-input {
    display: flex;
    width: 200px;
    margin: 0 auto;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background: #fff;
    border: 1px solid #000;
}
.container-range {
    display: flex;
}
.container-button {
    margin-top: 30px;
}
.container-price {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: left;
}


/* ---- FLEX ---- */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex > div:first-child {
    width: 60%;
}
.flex > div:last-child {
    width: 30%;
}
.flex-hide {
    display: none;
}


/* ---- GAME ---- */
input[type="range"]::-moz-range-progress {
    background-color:rgb(52, 196, 240);
}

.search {
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
.game-img {
    width: 100%;
    height: 100%;
}
.game-text {
    width: 100%;
    height: 100%;
    padding: 8px 15px 15px;
    background: #fff;
    overflow-y: scroll;
}
.date_note {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.game-date-note {
    font-size: 16px;
}
.game-description {
    margin: 10px 0 10px 0;
    text-align: left;
    font-size: 17px;
}

.text-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    border: 1px solid rgb(52, 196, 240);
    height: 1px;
}

.arrow {
    display: none;
}
.arrow.scrolled {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    position: fixed;
    color: #000000;
    text-decoration: none;
}

/* ---- ABOUT ---- */
.img-right {
    max-width: 100%;
}

p.switch{
    margin: 20px auto;
    text-align: justify;
}


/* ---- COLORS ---- */
.blue { color: rgb(52, 196, 240); }
.red  { color:rgb(219, 9, 51) }


/* ---- BUTTON ---- */
button {
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid #000;
    box-shadow: 2px 3px #a8A8A8;
}
button:active {
    box-shadow: 1px 1px #a8A8A8;
}


/* ---- RESPONSIVE ---- */
@media screen and (max-width: 980px){
    .container-games {
        grid-template-columns: 1fr;
    }
    .container-range {
        justify-content: center;
    }
    .flex {
        flex-direction: column;
    }
    .flex > div:first-child {
        width: 100%;
    }
    .flex > div:last-child {
        width: 70%;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .game {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px){
    h1 {
        padding-top: 140px;
    }
    .container-title {
        background: url('images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: none;
        background-position: 50% 0%;
    }
    .container {
        background: none;
        background-color: #e2e6e7;
    }
    button {
        background-color: white;
    }

    .container-games {
        grid-auto-rows: 400px;
    }
    .game {
        grid-template-columns: 1fr;
    }
    .game-img, .game-text {
        height: 200px;
    }
}

@media screen and (max-width: 375px){
    h1 {
        padding-top: 130px;
    }
}